---
Language: Cpp
BasedOnStyle: Google
SortIncludes: false
SortUsingDeclarations: false
BreakStringLiterals: false
BreakConstructorInitializersBeforeComma: true
ReflowComments: false
BreakBeforeBraces: Custom
ColumnLimit: 0

# 构造函数的初始化列表要么都在同一行，要么都各自一行
ConstructorInitializerAllOnOneLineOrOnePerLine:	true

# 构造函数的初始化列表的缩进宽度
ConstructorInitializerIndentWidth:	4

# 允许函数声明的所有参数在放在下一行
AllowAllParametersOfDeclarationOnNextLine:	false

# 允许短的块放在同一行
AllowShortBlocksOnASingleLine:	true

# 允许短的case标签放在同一行
AllowShortCaseLabelsOnASingleLine:	true

# 允许短的函数放在同一行: None, InlineOnly(定义在类中), Empty(空函数), Inline(定义在类中，空函数), All
AllowShortFunctionsOnASingleLine:	Empty

BraceWrapping:
  BeforeElse:      true
...
